
<!--Footer-->
<footer class="page-footer font-small unique-color pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">QUICK CONSULT</h5>
                <p>We want everyone to live safe, healthy and happy .So making our efforts to build a platform to  book an appointmnet to your Doctor.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/yogeshjoshi">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Github</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:Yogesh Joshi
        
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      